<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="vue.js" charset="utf-8"></script>
<div id="app">
    <input v-model="message" type="text" value="edit me">
    {{message}}
    <input type="checkbox" v-model="checked">
    {{checked}}
    <input type="radio" value="One" v-model="picked">One
    <br>
    <input type="radio" value="Two" v-model="picked">Two
    {{picked}}
    <input type="number" v-model.number="age">
    <input type="text" v-model.trim="msg">
</div>
<script>
    var vm=new Vue({
        el:'#app',
        data:{
            message:'hi',
            checked:'true',
            picked:'Two',
            age:'18',
            msg:'hello'
        }
    })
</script>
</body>
</html>